@model BecomeCaleb_WEB.Models.CalebTbl._TCFinancialLedger

<div>
    <h4>_TCFinancialLedger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryMaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryMaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryMir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryMir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUserSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUserSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FinancialSeq">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
