@model _TCDiary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>_TCDiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUserSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUserSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiarySeq">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
