@model IEnumerable<BecomeCaleb_WEB.Models.CalebTbl._TCDiary>

@{
    ViewData["Title"] = "SearchKeywords";
}

<h1>SearchKeywords</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChurchSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUserSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChurchSeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUserSeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiarySeq">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiarySeq">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiarySeq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
